<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <center>
        <img class="portrait" src="/img/me.jpeg">
        <h1> </h1>
        <a href="https://nayalash.github.io"><button>Website</button></a>
        </center>
    </div>
    
    {{>footer}}
</body>

</html>